.giko-wrap {
  text-align: center;

img {
  margin-top: 3%;
  width: 304px;
}
  p {
    font-size: 20px;
    line-height: 2;
    margin: 5% 0 10% 0;


  }


  .last {
    margin-top: 10%;
    a {
      img {
        width: 50%;

        &:hover {
          transform: scale(1.1);
          transition: .5s;
        }
      }
    }

    p {
      margin: 0 0 10% 0;
    }
  }

  .main {
    list-style-type: square;
    text-align: left;
    font-size: 20px;
    line-height: 2;

    li {
      list-style-type: square;
    }
  }

  .first {
    margin: 5% 0 0 0;
  }
}